@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Benz Grotesk';
  src: url('/fonts/Benz Grotesk.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


:root {
  --foreground-rgb: 0, 0, 0; 
  --background-start-rgb: 255, 255, 255; 
  --background-end-rgb: 255, 255, 255; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.small-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.medium-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.bold-text {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}



input:focus {
  outline: none; 
  box-shadow: 0px 0px 2px 1px rgba(58, 68, 200, 0.1);
}

.shadowR {
  box-shadow: 0px 0px 0px 0px rgba(244, 244, 245, 1);
}


.error {
  color: #CD3E3E ; 
  font-size: 11px;
  text-align: left;
  padding-top: 4px; 
  padding-left: 6px; 
}


.error-message {
  display: flex;
  flex-direction: row ;
  gap: 3px;
}

.error-length {
  color: #838387; 
}


.error-red {
  color: #CD3E3E;
}

.error-green {
  color: #44916B;
}


.dropshadow {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.dropshadow2 {
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.61);
}

.dropshadowinpute {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



input[type="checkbox"]:checked + label .w-6 {
  background-color: white; 
  border-color: transparent; 
}

input[type="checkbox"]:checked + label svg {
  display: block;
}

input[type="checkbox"]:not(:checked) + label svg {
  display: none; 
}


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #003666; 
  border-radius: 10px;
  border: 2px solid transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0087FF; 
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}


.PhoneInputInput {
  padding-left: 8px; 
  background-color: inherit;
  width: 100%;
  height: 100%;
}

.PhoneInputCountrySelect {
  width: 20px; 
  height: 100%;
  background-color: #121212;
  color: inherit;
  border-right: 1px solid #ccc;
  background-color: transparent; 
}

.PhoneInputCountrySelect option {
  background-color: white;
  color: inherit; 
  padding-inline: 8px;
  font-size: 18px;
}


.PhoneInputCountry {
  padding-left: 10px; 
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.PhoneInputCountryIcon {
  width: 24px;
  height: 100%;
  margin-right: 10px;
}



@media (prefers-color-scheme: dark) {
  .PhoneInputCountrySelect option {
    background-color: #121212; 
  }
}


@keyframes bounce-once {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.animate-bounce-once {
  animation: bounce-once 0.5s ease-in-out forwards;
}



.react-multi-carousel-track{
  gap: 20px;
}

@media screen and (max-width: 360px) {
  .react-multi-carousel-track {
    gap: 5px;
  }
  .react-multi-carousel-item{
    width: 340px
  }
}


@media screen and (min-width: 640px) {
  .dropshadow3 {
    box-shadow: 0px 4px 4px 0px #F1F1F1;
  }
}





